.btn {
    border: none;
    text-decoration: none;
    font-size: 1em;
    color: #f6f6f6;
    padding: 6px 10px;
    text-shadow: 1px 1px 2px #fff;

    &.small {
        font-size: 1.4em;
    }

    &.large {
        font-size: 1.4em;
    }
}
