.introduction {
    opacity: 1;
    z-index: 1;

    & > * {
        font-size: 12px;
        font-weight: 100;
        color: #D1D3D4;
    }
}


#story {
    position: relative;

    .story-content {
        padding: 0 20px;
        margin-top: -18px;

        h4, p {
            margin: 10px 0;
            line-height: 1.4;
        }

        h4 {
            font-size: 14px;
        }

        p {

        }
    }

    .intro-hex {
        position: absolute;
        top: -110px;
        left: 160px;
    }

    .intro-continue {
        position: absolute;
        bottom: -100px;
        left: 160px;
    }

}

