.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    z-index: -1;
     @include transition(opacity 0.2s linear);

    & > * {
        background: transparent url("/images/modal-bg.png") no-repeat 50%;
        width: 400px;
        margin: 0 auto;
        height: 490px;
        padding: 280px 0 0;
    }

    &.is-visible,
    &:target {
        opacity: 1;
        z-index: 2;
    }

    input[type="submit"] {
        color: #000;
        border-radius: 4px;
        margin: 0 10px 0 100px;
    }

    .cancel {
        text-decoration: none;
        font-size: 12px;
    }
}

.data-field {
    overflow: auto;
    margin: 10px;
    padding: 10px;
    background-color: #333;
    border-radius: 4px;

    label {
        display: block;
        padding: 6px 0;
    }

    input, select {
        border: none;
        width: 100%;
        font-size: 16px;
    }

    input {
        font-family: 'Raleway', sans-serif;
        text-indent: 10px;
        padding: 6px 1px 5px;
    }
}
