.room-selection {
    & > * {
        width: 90%;
        padding: 0;
        margin: 20px auto 0;
    }

    .room {
        min-width: 90px;
        width: 20%;
        float: left;
        margin: 20px 0 0;
        padding: 0;
        text-align: center;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

}
