<!DOCTYPE html>
<html class="nojs">

	<head>
		<title>{{ title }}</title>
		<!-- build:css /styles/styles.cs-->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/styles/core.css' />
		<!-- endbuild -->
		<script data-main="/scripts/config" src="/bower_components/requirejs/require.js"></script>
	</head>

	<body>

		<header class="header">
			<h1>
				<a href="/" title="Mixbit">
					<img class="branding" src="/images/branding.svg" alt="MixBiT">
				</a>
			</h1>
		</header>

		<main class="main">
			<article class="main-content">
				{{{body}}}
			</article>
		</main>

		<footer class="footer">
		</footer>

		<iframe class="nko-social" src="http://nodeknockout.com/iframe/seven-digital" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
	</body>

</html>
