<!DOCTYPE html>
<html class="nojs">

	<head>
		<title>{{ title }}</title>
		<!-- build:css /styles/styles.cs-->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/styles/core.css' />
		<!-- endbuild -->
		<script data-main="/scripts/config" src="/bower_components/requirejs/require.js"></script>
		<link rel="stylesheet" href="/bower_components/nprogress/nprogress.css" />
	</head>

	<body>

		<a href="http://www.7digital.com/" target="_blank">
		<img class="poweredby" src="/images/7digital.png" alt="7digital">
		</a>

		<header class="header">
			<h1>
				<a href="/" title="Mixbit">
					<img class="branding" src="/images/branding.svg" alt="MixBiT">
				</a>
			</h1>
		</header>

		<main class="main">
			<article class="main-content">
				{{{body}}}
			</article>
		</main>

		<footer class="footer">
		</footer>

	</body>

</html>
