body {
	background-color: #333;
	color: #fff;
	font-family: 'Sintony', sans-serif;
}

header {
	position: relative;

	h1 {
		width: 70%;
		margin: 0 auto;

		a {
			display: block;
		}
	}
}

.branding {
	width: 100%;
}
