body {
	background: #333 url('/images/default-background.gif') repeat;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	max-width: 960px;
	min-width: 420px;
	margin: 0 auto;
}

header {
	position: relative;

	h1 {
		max-width: 400px;
		width: 40%;
		margin: 30px 0 0 40px;

		a {
			display: block;
		}
	}
}

.branding {
	width: 100%;
}
