body {
	background: #333 url('/images/default-background.gif') repeat;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

header {
	position: relative;

	h1 {
		max-width: 400px;
		width: 40%;
		margin: 40px auto 0;

		a {
			display: block;
		}
	}
}

.branding {
	width: 100%;
}
