<section class="create-a-room">
    <a class="btn large" href="/room/create" title="Create a room">Create</a>
</section>

<section class="room-selection">
    <ul>
        <li class="room">
            <a href="/room/123" title="">Demo 1</a>
        </li>
{{#each rooms}}
        <li class="room">
            <a href="/room/#{id}" title="{{name}}">{{name}}/a>
        </li>
{{/each}}
    </ul>
</section>
