<section class="create-a-room">
    <a class="btn large" href="/create" title="Create a room">Create</a>
</section>

<section class="room-selection">
    <ul>
        <li class="room">
            <a href="/room/123" title="">Demo 1</a>
        </li>
        <li class="room">
            <a href="#" title="">Room 2</a>
        </li>
        <li class="room">
            <a href="#" title="">Room 3</a>
        </li>
        <li class="room">
            <a href="#" title="">Room 4</a>
        </li>
        <li class="room">
            <a href="#" title="">Room 5</a>
        </li>
    </ul>
</section>
