<section class="create-a-room">
    <a class="btn large" href="#create-room" title="Create a room">Create</a>
</section>

<section class="room-selection">
    <h2 class="header">ROOM SELECTION</h2>
    <ul>
    {{#each rooms}}
        <li class="room">
            <a class="cube {{toLowerCase genre}}" href="/room/{{id}}" title="{{name}}">{{name}}
                <span class="tooltip">
                    <img class="tooltip-thumb" src="http://placehold.it/50x50" alt="">
                    <strong class="tooltip-header">Turbo Fun!!!</strong>
                    <em class="tooltip-album-title">The Smiths - Cemetry Gates</em>
                    <span class="tooltip-listeners">Listeners: <strong>10</strong></span>
                </span>
            </a>
        </li>
    {{/each}}
    </ul>
</section>

<section id="create-room" class="modal room-creator">
    <form action="/room/create" method="post">

        <div class="data-field">
            <label for="name">Name</label>
            <input tabindex="1" type="text" id="name" name="name"></input>™
        </div>

        <div class="data-field">
            <label for="genre">Genre</label>
            <select tabindex="2" name="genre" id="genre">
                 <option value="Rock">Rock</option>
                 <option value="Techno">Techno</option>
                 <option value="Disco">Disco</option>
                 <option value="Hip-Hop">Hip-Hop</option>
            </select>
        </div>

        <input tabindex="3" class="btn" type="submit" value="Create"></input>

        <a class="cancel" href="#" title="Cancel">Cancel</a>

    </form>
</section>
