<style>
  .room.loading {
	display: none;
  }
  .room-loading.hidden {
	display: none;
  }
</style>

<section class="room loading">
	<h1>Music room</h1>
	<p>Welcome to room '<span class="room-title"></span>' 'id:{{ id }}'</p>
	<div class="track-history">
		<p>
			Just heard:
		</p>
		<ul></ul>
	</div>
	<div class="current-track">
		<p>
			Now playing: <span class="current-track-title"></span> at <span class="current-track-position"></span>
		</p>
	</div>
	<div class="track-queue">
		<p>
			Coming up:
		</p>
		<ul></ul>
	</div>
</section>

<section class="room-loading">
	<span class="status">Connecting to server...</span>
</section>

<script type="text/javascript">
	require(['room/main']);
</script>
