<style>
  	.room,
	.room-loading {
		margin-top: 3em;
	}
	.room.loading {
		display: none;
	}

	.room-loading.hidden {
		display: none;
	}

	.cf:before,
	.cf:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	.cf:after {
		clear: both;
	}

	h1,
	h2,
	h3 {
		text-align: center;
	}

	h1 a {
		color: #fff;
		text-decoration: none;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1em;
	}

	h3 {
		font-family: 0.75em;
	}

	.three-columns {
		margin-top: 1em;
	}

	.three-columns .left,
	.three-columns .middle,
	.three-columns .right {
		width: 33%;
		float: left;
	}

	.three-columns .left {
		text-align: left;
	}

	.three-columns .middle {
		text-align: center;
	}

	.three-columns .right {
		text-align: right;
	}

	.two-columns {
	}

	.two-columns .left,
	.two-columns .right {
		width: 50%;
		float: left;
	}

	.two-columns .left {
		text-align: left;
	}

	.two-columns .right {
		text-align: right;
	}

</style>

<section class="room loading">
	<h1 class="room-title"><a href="/room/{{ id }}">UNKNOWN ROOM TITLE</a></h1>
	<h2>Genre: <span class="room-genre">UNKNOWN ROOM GENRE</span></h2>
	<h3>Listeners: ?</h3>

	<div class="three-columns cf">

		<div class="previous-track left">
			<p>Previous:</p>
			<ul><li>UNKNOWN PREVIOUS TRACK</li></ul>
		</div>

		<div class="current-track middle">
			<ul><li>UNKNOWN CURRENT TRACK</li></ul>
			<p class="player-status">UNKNOWN PLAYER STATUS</p>
			<p>Position: <span class="track-position">UNKNOWN POSITION</span></p>
		</div>

		<div class="next-track right">
			<p>Next track:</p>
			<ul><li>UNKNOWN NEXT TRACK</li></ul>
		</div>

	</div>

	<div class="two-columns cf">

		<div class="track-history left">
			<p>Just heard:</p>
			<ul><li>UNKNOWN TRACK HISTORY</li></ul>
		</div>

		<div class="track-queue right">
			<p>Coming up:</p>
			<ul>UNKNOWN TRACK QUEUE</ul>
		</div>

	</div>

</section>

<section class="room-loading">
	<span class="status">Connecting to server...</span>
</section>

<script type="text/javascript">
	require(['room/main']);
</script>
