<section class="room is-loading">

	<header class="room-info">
		<h2 class="room-info-title">
			<a href="/room/{{ id }}">UNKNOWN ROOM TITLE</a>
		</h2>
		<h3 class="room-info-genre">UNKNOWN ROOM GENRE</h3>
		<h4 class="room-info-listeners">Listeners: <strong>{{listeners}}</strong></h4>
	</header>

	<div class="player">

		<div class="track player-track-previous">
			<div class="track-artwork">
				<img width="150" class="track-packshot" src="" alt="">
			</div>
			<div class="track-meta">
				<span class="player-title">PREV TRACK</span>
				<span class="track-title">UNKNOWN PREVIOUS TRACK</span>
			</div>
		</div>

		<div class="track player-track-current">
			<div class="track-artwork">
				<img width="250" class="track-packshot" src="" alt="">
			</div>
			<div class="track-meta">
				<span class="track-title">UNKNOWN CURRENT TRACK</span>
			</div>
		</div>

		<div class="track player-track-next">
			<div class="track-artwork">
				<img width="150" class="track-packshot" src="" alt="">
			</div>
			<div class="track-meta">
				<span class="player-title">NEXT TRACK</span>
				<span class="track-title">UNKNOWN NEXT TRACK</span>
			</div>
		</div>

	</div>

	<style>
		.debug {
			font-size: 0.75em;
			position: absolute;
			right: 2em;
			top: 7em;
			opacity: 0.3;
		}
		.debug:hover {
			opacity: 1;
		}
		.debug span,
		.debug a {
			line-height: 1.3em;
		}
		.debug .player-skip {
			color: white;
		}
		.debug .debug-player-container {
			display: none;
		}
	</style>
	<div class="debug">
		<h2 class="room-info-title">DEBUG</h2>
		<span class="player-status">UNKNOWN PLAYER STATUS</span><br />
		<span class="player-elapsed">UNKNOWN PLAYER POSITION</span> /
		<span class="player-duration">UNKNOWN PLAYER DURATION</span><br />
		<a href="#" class="player-skip">Skip &gt;</a>
	  	<div class="debug-player-container"></div>
	</div>

</section>

<section class="room-loading">
	<span class="status">UNKNOWN STATUS</span>
</section>

<script type="text/javascript">
	$(function () {
		require(['room/main']);
	});
</script>
