<style>
	.room.loading {
		display: none;
	}

	.room-loading.hidden {
		display: none;
	}

	.cf:before,
	.cf:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	.cf:after {
		clear: both;
	}

	.three-columns {
		background: olive;

	}

	.three-columns .left,
	.three-columns .middle,
	.three-columns .right {
		width: 33%;
		float: left;
	}

	.three-columns .left {
		background: indianred;
	}

	.three-columns .middle {
		background: red;
	}

	.three-columns .right {
		background: darkred;
	}

	.two-columns {
		background: lawngreen;

	}

	.two-columns .left,
	.two-columns .right {
		width: 50%;
		float: left;
	}

	.two-columns .left {
		background: indianred;
	}

	.two-columns .right {
		background: darkred;
	}

</style>

<section class="room loading">
	<h1 class="room-title"><a href="/room/{{ id }}"></a></h1>
	<h2>Genre: <span class="room-genre"></span></h2>
	<h3>Listeners: ?</h3>

	<div class="three-columns cf">

		<div class="previous-track left">
			<p>Previous:</p>
			<ul></ul>
		</div>

		<div class="current-track middle">
			<p>Now playing:</p>
			<ul></ul>
			<p>Position: <span class="track-position"></span></p>
		</div>

		<div class="next-track right">
			<p>Next track:</p>
			<ul></ul>
		</div>

	</div>

	<div class="two-columns cf">

		<div class="track-history left">
			<p>
				Just heard:
			</p>
			<ul></ul>
		</div>

		<div class="track-queue right">
			<p>
				Coming up:
			</p>
			<ul></ul>
		</div>

	</div>

</section>

<section class="room-loading">
	<span class="status">Connecting to server...</span>
</section>

<script type="text/javascript">
	require(['room/main']);
</script>
