<section class="room">
	<h1>Music room</h1>
	<p>Welcome to room 'id:{{ id }}'</p>
	<p>
		Just heard:
		<ul class="track-history"></ul>
	</p>
	<p>
		Now playing: <span class="current-track-title"></span> at <span class="current-track-position"></span>
	</p>
	<p>
		Coming up:
		<ul class="track-queue"></ul>
	</p>
</section>

<script type="text/javascript">
	require(['room'], function () {});
</script>