<section class="room is-loading">

	<header class="room-info">
		<h2 class="room-info-title">
			<a href="/room/{{ id }}">UNKNOWN ROOM TITLE</a>
		</h2>
		<h3 class="room-info-genre">UNKNOWN ROOM GENRE</h3>
		<h4 class="room-info-listeners">Listeners: <strong>UNKNOWN</strong></h4>
	</header>

	<div class="player">

		<div class="track player-track-previous">
			<div class="track-artwork">
				<img width="150" class="track-packshot" src="" alt="">
			</div>
			<div class="track-meta">
				<span class="player-title">PREV TRACK</span>
				<span class="track-title">UNKNOWN PREVIOUS TRACK</span>
			</div>
		</div>

		<div class="track player-track-current">
			<div class="track-artwork">
				<img width="250" class="track-packshot" src="" alt="">
			</div>
			<div class="track-meta">
				<span class="track-title">UNKNOWN CURRENT TRACK</span>
			</div>
		</div>

		<div class="track player-track-next">
			<div class="track-artwork">
				<img width="150" class="track-packshot" src="" alt="">
			</div>
			<div class="track-meta">
				<span class="player-title">NEXT TRACK</span>
				<span class="track-title">UNKNOWN NEXT TRACK</span>
			</div>
		</div>

	</div>

</section>

<section class="room-loading">
	<span class="status">UNKNOWN STATUS</span>
</section>

<script type="text/javascript">
	require(['room/main']);
</script>
